<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.zx.myapplication">

    <!-- 访问网络-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--相机-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读取sdcard中数据的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 发短信 -->
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".biz.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".biz.login.register.RegisterActivity"/>

        <!-- 主界面 -->
        <activity android:name=".biz.main.MainActivity">

        </activity>

        <!-- sqlite -->
        <activity android:name=".biz.SQLite.SQLiteActivity"/>

        <!-- telephone -->
        <activity android:name=".biz.Telephone.TelephoneActivity"/>

        <!-- sendSMS -->
        <activity android:name=".biz.sendsms.SendSMSActivity"/>

        <!-- 文件存储 -->
        <activity android:name=".biz.filestore.FileStoreActivity"/>

        <!-- 验证码 -->
        <activity android:name=".biz.VerificationCode.VerifyCodeActivity"/>

        <!-- 银行卡选择 -->
        <activity android:name=".biz.selectbank.SelectBankActivity"/>

        <!-- 银行卡列表 -->
        <activity android:name=".biz.selectbank.banklist.BankListActivity"/>

        <!-- 银行卡数据插入 -->
        <activity android:name=".biz.selectbank.bankinsertdb.BankInsertDbActivity"/>
    </application>
</manifest>